<!-- Content
================================================== -->

<div class="container">

  <div class="row">

      <!-- Content -->
      <div class="content col-md-8">
            
          <!-- Game Scoreboard -->
          <div class="card"  *ngIf="match">
              <header class="card__header card__header--has-btn">
                  <h4>Resultado Último Partido</h4>
                  <a routerLink="../last-results" class="btn btn-default btn-outline btn-xs card-header__button">Ver Partidos</a>
              </header>
              <div class="card__content">

                  <!-- Game Result -->
                  <div class="game-result">
                      <section class="game-result__section">
                          <header class="game-result__header">
                              <h3 class="game-result__title">{{match.championship.name}}</h3>
                              <time class="game-result__date">{{match.date}}</time>
                          </header>
                          <div class="game-result__content">

                              <!-- 1st Team -->
                              <a href="#/team/{{match.local.nameURL}}" >
                                  <div class="game-result__team game-result__team--first">
                                      <figure class="game-result__team-logo">
                                          <img src="assets/images/samples/logo-alchemists--sm.png" alt="">
                                      </figure>
                                      <div class="game-result__team-info">
                                          <h5 class="game-result__team-name">{{match.local.name}}</h5>
                                          <div class="game-result__team-desc"> Local </div>
                                      </div>
                                  </div>
                              </a>
                              <!-- 1st Team / End -->

                              <div class="game-result__score-wrap">
                                  <div class="game-result__score">
                                      <span class="game-result__score-result game-result__score-result--winner">{{match.scoreLocal}}</span>
                                      <span class="game-result__score-dash">-</span>
                                      <span class="game-result__score-result game-result__score-result--loser">{{match.scoreVisitor}}</span>
                                  </div>
                                  <div class="game-result__score-label">
                                      Final Score
                                      <div style="color:#9a9da2;">
                                          {{match.court.name}}
                                      </div>
                                  </div>
                              </div>

                              <!-- 2nd Team -->
                              <a href="#/team/{{match.visitor.nameURL}}" >
                                  <div class="game-result__team game-result__team--second">
                                      <figure class="game-result__team-logo">
                                          <img src="assets/images/samples/logo-sharks--sm.png" alt="">
                                      </figure>
                                      <div class="game-result__team-info">
                                          <h5 class="game-result__team-name">{{match.visitor.name}}</h5>
                                          <div class="game-result__team-desc"> Visitante </div>
                                      </div>
                                  </div>
                              </a>
                              <!-- 2nd Team / End -->
                          </div>
                      </section>
                  </div>
                  <!-- Game Result / End -->

              </div>
          </div>
          <!-- Game Scoreboard / End -->



          <div class="row">

              <div class="col-md-6">

                  <!-- Widget: Team Leaders -->
                  <aside class="widget widget--sidebar card card--has-table widget-leaders">
                      <div class="widget__title card__header">
                          <h4>Team Leaders</h4>
                      </div>
                      <div class="widget__content card__content">

                          <!-- Leader: Points -->
                          <div class="table-responsive">
                              <table class="table team-leader">
                                  <thead>
                                  <tr>
                                      <th class="team-leader__type">Points</th>
                                      <th class="team-leader__total">TP</th>
                                      <th class="team-leader__gp">GP</th>
                                      <th class="team-leader__avg">AVG</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <tr>
                                      <td class="team-leader__player">
                                          <div class="team-leader__player-info">
                                              <figure class="team-leader__player-img">
                                                  <img src="assets/images/samples/stats_player_01.jpg" alt="">
                                              </figure>
                                              <div class="team-leader__player-inner">
                                                  <h5 class="team-leader__player-name">James Girobili</h5>
                                                  <span class="team-leader__player-position">1st Shoting Guard</span>
                                              </div>
                                          </div>
                                      </td>
                                      <td class="team-leader__total">424</td>
                                      <td class="team-leader__gp">20</td>
                                      <td class="team-leader__avg">
                                          <div class="circular">
                                              <div class="circular__bar" data-percent="85">
                                                  <span class="circular__percents">21.2</span>
                                              </div>
                                          </div>
                                      </td>
                                  </tr>
                                  </tbody>
                              </table>
                          </div>
                          <!-- Leader: Points / End -->

                          <!-- Leader: Assists -->
                          <div class="table-responsive">
                              <table class="table team-leader">
                                  <thead>
                                  <tr>
                                      <th class="team-leader__type">Assists</th>
                                      <th class="team-leader__total">TA</th>
                                      <th class="team-leader__gp">GP</th>
                                      <th class="team-leader__avg">AVG</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <tr>
                                      <td class="team-leader__player">
                                          <div class="team-leader__player-info">
                                              <figure class="team-leader__player-img">
                                                  <img src="assets/images/samples/stats_player_02.jpg" alt="">
                                              </figure>
                                              <div class="team-leader__player-inner">
                                                  <h5 class="team-leader__player-name">Mark Stevens</h5>
                                                  <span class="team-leader__player-position">1st Power Forward</span>
                                              </div>
                                          </div>
                                      </td>
                                      <td class="team-leader__total">136</td>
                                      <td class="team-leader__gp">20</td>
                                      <td class="team-leader__avg">
                                          <div class="circular">
                                              <div class="circular__bar" data-percent="85">
                                                  <span class="circular__percents">6.8</span>
                                              </div>
                                          </div>
                                      </td>
                                  </tr>
                                  </tbody>
                              </table>
                          </div>
                          <!-- Leader: Assists / End -->

                          <!-- Leader: Steals -->
                          <div class="table-responsive">
                              <table class="table team-leader">
                                  <thead>
                                  <tr>
                                      <th class="team-leader__type">Steals</th>
                                      <th class="team-leader__total">TS</th>
                                      <th class="team-leader__gp">GP</th>
                                      <th class="team-leader__avg">AVG</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <tr>
                                      <td class="team-leader__player">
                                          <div class="team-leader__player-info">
                                              <figure class="team-leader__player-img">
                                                  <img src="assets/images/samples/stats_player_02.jpg" alt="">
                                              </figure>
                                              <div class="team-leader__player-inner">
                                                  <h5 class="team-leader__player-name">Mark Stevens</h5>
                                                  <span class="team-leader__player-position">1st Power Forward</span>
                                              </div>
                                          </div>
                                      </td>
                                      <td class="team-leader__total">149</td>
                                      <td class="team-leader__gp">20</td>
                                      <td class="team-leader__avg">
                                          <div class="circular">
                                              <div class="circular__bar" data-percent="85">
                                                  <span class="circular__percents">14.9</span>
                                              </div>
                                          </div>
                                      </td>
                                  </tr>
                                  </tbody>
                              </table>
                          </div>
                          <!-- Leader: Steals / End -->

                          <!-- Leader: Steals -->
                          <div class="table-responsive">
                              <table class="table team-leader">
                                  <thead>
                                  <tr>
                                      <th class="team-leader__type">Rebounds</th>
                                      <th class="team-leader__total">TR</th>
                                      <th class="team-leader__gp">GP</th>
                                      <th class="team-leader__avg">AVG</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <tr>
                                      <td class="team-leader__player">
                                          <div class="team-leader__player-info">
                                              <figure class="team-leader__player-img">
                                                  <img src="assets/images/samples/stats_player_01.jpg" alt="">
                                              </figure>
                                              <div class="team-leader__player-inner">
                                                  <h5 class="team-leader__player-name">James Girobili</h5>
                                                  <span class="team-leader__player-position">1st Shoting Guard</span>
                                              </div>
                                          </div>
                                      </td>
                                      <td class="team-leader__total">93</td>
                                      <td class="team-leader__gp">20</td>
                                      <td class="team-leader__avg">
                                          <div class="circular">
                                              <div class="circular__bar" data-percent="85">
                                                  <span class="circular__percents">9.3</span>
                                              </div>
                                          </div>
                                      </td>
                                  </tr>
                                  </tbody>
                              </table>
                          </div>
                          <!-- Leader: Steals / End -->


                      </div>
                  </aside>
                  <!-- Widget: Team Leaders / End -->

              </div>
              <div class="col-md-6">

                  <!-- Widget: Team Stats -->
                  <aside class="widget widget--sidebar card card--has-table widget-team-stats">
                      <div class="widget__title card__header">
                          <h4>ESTADÍSTICAS DEL EQUIPO</h4>
                      </div>
                      <div class="widget__content card__content">
                          <ul class="team-stats-box">
                              <li class="team-stats__item">
                                  <div class="team-stats__icon">
                                      <svg role="img" class="df-icon df-icon--ppg">
                                          <use xlink:href="assets/images/icons-basket.svg#points-per-game"/>
                                      </svg>
                                  </div>
                                  <div class="team-stats__value">{{statistics?.pointPerGame}}</div>
                                  <div class="team-stats__label">Points Per Game</div>
                              </li>
                              <li class="team-stats__item">
                                  <div class="team-stats__icon">
                                      <svg role="img" class="df-icon df-icon--apg">
                                          <use xlink:href="assets/images/icons-basket.svg#assists-per-game"/>
                                      </svg>
                                  </div>
                                  <div class="team-stats__value">{{statistics?.assistsPerGame}}</div>
                                  <div class="team-stats__label">Assists Per Game</div>
                              </li>
                              <li class="team-stats__item">
                                  <div class="team-stats__icon">
                                      <svg role="img" class="df-icon df-icon--rpg">
                                          <use xlink:href="assets/images/icons-basket.svg#rebounds-per-game"/>
                                      </svg>
                                  </div>
                                  <div class="team-stats__value">{{statistics?.reboundsPerGame}}</div>
                                  <div class="team-stats__label">Rebounds Per Game</div>
                              </li>
                              <li class="team-stats__item">
                                  <div class="team-stats__icon">
                                      <div class="df-icon-stack df-icon-stack--3pts">
                                          <svg role="img" class="df-icon df-icon--basketball">
                                              <use xlink:href="assets/images/icons-basket.svg#basketball"/>
                                          </svg>
                                          <div class="df-icon--txt">3</div>
                                      </div>
                                  </div>
                                  <div class="team-stats__value">{{statistics?.threePointersPerGame}}</div>
                                  <div class="team-stats__label">3 Pointers Per Game</div>
                              </li>
                          </ul>
                      </div>
                  </aside>
                  <!-- Widget: Team Stats / End -->

              </div>
          </div>





      </div>
      <!-- Content / End -->

      <!-- Sidebar -->
      <div class="sidebar col-md-4">

          <!-- Widget: Standings -->
          <aside class="widget card widget--sidebar widget-standings">
              <div class="widget__title card__header card__header--has-btn">
                  <h4>Tabla de Posiciones</h4>
                  <a href="#" class="btn btn-default btn-outline btn-xs card-header__button">See All Stats</a>
              </div>
              <div class="widget__content card__content">
                  <div class="table-responsive">
                      <table class="table table-hover table-standings">
                          <thead>
                          <tr>
                              <th>Team Positions</th>
                              <th>W</th>
                              <th>L</th>
                              <th>GB</th>
                          </tr>
                          </thead>
                          <tbody>

                          <tr>
                              <td>
                                  <div class="team-meta">
                                      <figure class="team-meta__logo">
                                          <img src="assets/images/samples/logos/pirates_shield.png" alt="L.A Pirates">
                                      </figure>
                                      <div class="team-meta__info">
                                          <h6 class="team-meta__name">L.A Pirates</h6>
                                          <span class="team-meta__place">Bebop Institute</span>
                                      </div>
                                  </div>
                              </td>
                              <td>45</td>
                              <td>5</td>
                              <td>0</td>
                          </tr>
                          <tr>
                              <td>
                                  <div class="team-meta">
                                      <figure class="team-meta__logo">
                                          <img src="assets/images/samples/logos/sharks_shield.png" alt="Sharks">
                                      </figure>
                                      <div class="team-meta__info">
                                          <h6 class="team-meta__name">Sharks</h6>
                                          <span class="team-meta__place">Marine College</span>
                                      </div>
                                  </div>
                              </td>
                              <td>42</td>
                              <td>8</td>
                              <td>3</td>
                          </tr>
                          <tr>
                              <td>
                                  <div class="team-meta">
                                      <figure class="team-meta__logo">
                                          <img src="assets/images/samples/logos/alchemists_b_shield.png" alt="The Alchemists">
                                      </figure>
                                      <div class="team-meta__info">
                                          <h6 class="team-meta__name">The Alchemists</h6>
                                          <span class="team-meta__place">Eric Bros School</span>
                                      </div>
                                  </div>
                              </td>
                              <td>40</td>
                              <td>10</td>
                              <td>5</td>
                          </tr>
                          <tr>
                              <td>
                                  <div class="team-meta">
                                      <figure class="team-meta__logo">
                                          <img src="assets/images/samples/logos/ocean_kings_shield.png" alt="Ocean Kings">
                                      </figure>
                                      <div class="team-meta__info">
                                          <h6 class="team-meta__name">Ocean Kings</h6>
                                          <span class="team-meta__place">Bay College</span>
                                      </div>
                                  </div>
                              </td>
                              <td>38</td>
                              <td>12</td>
                              <td>7</td>
                          </tr>
                          <tr>
                              <td>
                                  <div class="team-meta">
                                      <figure class="team-meta__logo">
                                          <img src="assets/images/samples/logos/red_wings_shield.png" alt="Red Wings">
                                      </figure>
                                      <div class="team-meta__info">
                                          <h6 class="team-meta__name">Red Wings</h6>
                                          <span class="team-meta__place">Icarus College</span>
                                      </div>
                                  </div>
                              </td>
                              <td>37</td>
                              <td>13</td>
                              <td>8</td>
                          </tr>
                          <tr>
                              <td>
                                  <div class="team-meta">
                                      <figure class="team-meta__logo">
                                          <img src="assets/images/samples/logos/lucky_clovers_shield.png" alt="Lucky Clovers">
                                      </figure>
                                      <div class="team-meta__info">
                                          <h6 class="team-meta__name">Lucky Clovers</h6>
                                          <span class="team-meta__place">St. Patrick’s Institute</span>
                                      </div>
                                  </div>
                              </td>
                              <td>34</td>
                              <td>16</td>
                              <td>11</td>
                          </tr>
                          <tr>
                              <td>
                                  <div class="team-meta">
                                      <figure class="team-meta__logo">
                                          <img src="assets/images/samples/logos/draconians_shield.png" alt="Draconians">
                                      </figure>
                                      <div class="team-meta__info">
                                          <h6 class="team-meta__name">Draconians</h6>
                                          <span class="team-meta__place">High Rock College</span>
                                      </div>
                                  </div>
                              </td>
                              <td>31</td>
                              <td>19</td>
                              <td>14</td>
                          </tr>
                          <tr>
                              <td>
                                  <div class="team-meta">
                                      <figure class="team-meta__logo">
                                          <img src="assets/images/samples/logos/bloody_wave_shield.png" alt="Bloody Wave">
                                      </figure>
                                      <div class="team-meta__info">
                                          <h6 class="team-meta__name">Bloody Wave</h6>
                                          <span class="team-meta__place">Atlantic School</span>
                                      </div>
                                  </div>
                              </td>
                              <td>30</td>
                              <td>20</td>
                              <td>15</td>
                          </tr>

                          </tbody>
                      </table>
                  </div>
              </div>
          </aside>
          <!-- Widget: Standings / End -->

          <!-- Widget: Latest Results -->
          <aside class="widget card widget--sidebar widget-results">
              <div class="widget__title card__header card__header--has-btn">
                  <h4>Últimos Resultados</h4>
                  <a href="#" class="btn btn-default btn-outline btn-xs card-header__button">See Full Results</a>
              </div>
              <div class="widget__content card__content">
                  <ul class="widget-results__list">

                      <!-- Game #0 -->
                      <li class="widget-results__item">
                          <div class="widget-results__header justify-content-center">
                              <div class="widget-results__title">Saturday, March 24</div>
                          </div>
                          <div class="widget-results__content">
                              <div class="widget-results__team widget-results__team--first">
                                  <figure class="widget-results__team-logo">
                                      <img src="assets/images/samples/logos/alchemists_b_shield.png" alt="">
                                  </figure>
                                  <div class="widget-results__team-details">
                                      <h5 class="widget-results__team-name">Alchemists</h5>
                                      <span class="widget-results__team-info">Elric Bros School</span>
                                  </div>
                              </div>
                              <div class="widget-results__result">
                                  <div class="widget-results__score">
                                      <span class="widget-results__score-winner">107</span> - <span class="widget-results__score-loser">102</span>
                                      <div class="widget-results__status">Home</div>
                                  </div>
                              </div>
                              <div class="widget-results__team widget-results__team--second">
                                  <figure class="widget-results__team-logo">
                                      <img src="assets/images/samples/logos/sharks_shield.png" alt="">
                                  </figure>
                                  <div class="widget-results__team-details">
                                      <h5 class="widget-results__team-name">Sharks</h5>
                                      <span class="widget-results__team-info">Marine College</span>
                                  </div>
                              </div>
                          </div>
                      </li>
                      <!-- Game #0 / End -->
                      <!-- Game #1 -->
                      <li class="widget-results__item">
                          <div class="widget-results__header justify-content-center">
                              <div class="widget-results__title">Friday, March 16</div>
                          </div>
                          <div class="widget-results__content">
                              <div class="widget-results__team widget-results__team--first">
                                  <figure class="widget-results__team-logo">
                                      <img src="assets/images/samples/logos/pirates_shield.png" alt="">
                                  </figure>
                                  <div class="widget-results__team-details">
                                      <h5 class="widget-results__team-name">L.A. Pirates</h5>
                                      <span class="widget-results__team-info">Bebop Institute</span>
                                  </div>
                              </div>
                              <div class="widget-results__result">
                                  <div class="widget-results__score">
                                      <span class="widget-results__score-winner">124</span> - <span class="widget-results__score-loser">106</span>
                                      <div class="widget-results__status">Away</div>
                                  </div>
                              </div>
                              <div class="widget-results__team widget-results__team--second">
                                  <figure class="widget-results__team-logo">
                                      <img src="assets/images/samples/logos/alchemists_b_shield.png" alt="">
                                  </figure>
                                  <div class="widget-results__team-details">
                                      <h5 class="widget-results__team-name">Alchemists</h5>
                                      <span class="widget-results__team-info">Eric Bros School</span>
                                  </div>
                              </div>
                          </div>
                      </li>
                      <!-- Game #1 / End -->
                      <!-- Game #2 -->
                      <li class="widget-results__item">
                          <div class="widget-results__header justify-content-center">
                              <div class="widget-results__title">Saturday, March 10</div>
                          </div>
                          <div class="widget-results__content">
                              <div class="widget-results__team widget-results__team--first">
                                  <figure class="widget-results__team-logo">
                                      <img src="assets/images/samples/logos/alchemists_b_shield.png" alt="">
                                  </figure>
                                  <div class="widget-results__team-details">
                                      <h5 class="widget-results__team-name">Alchemists</h5>
                                      <span class="widget-results__team-info">Eric Bros School</span>
                                  </div>
                              </div>
                              <div class="widget-results__result">
                                  <div class="widget-results__score">
                                      <span class="widget-results__score-loser">95</span> - <span class="widget-results__score-winner">98</span>
                                      <div class="widget-results__status">Home</div>
                                  </div>
                              </div>
                              <div class="widget-results__team widget-results__team--second">
                                  <figure class="widget-results__team-logo">
                                      <img src="assets/images/samples/logos/lucky_clovers_shield.png" alt="">
                                  </figure>
                                  <div class="widget-results__team-details">
                                      <h5 class="widget-results__team-name">Clovers</h5>
                                      <span class="widget-results__team-info">St. Patrick’s Inst</span>
                                  </div>
                              </div>
                          </div>
                      </li>
                      <!-- Game #2 / End -->
                      <!-- Game #3 -->
                      <li class="widget-results__item">
                          <div class="widget-results__header justify-content-center">
                              <div class="widget-results__title">Friday, March 4</div>
                          </div>
                          <div class="widget-results__content">
                              <div class="widget-results__team widget-results__team--first">
                                  <figure class="widget-results__team-logo">
                                      <img src="assets/images/samples/logos/ocean_kings_shield.png" alt="">
                                  </figure>
                                  <div class="widget-results__team-details">
                                      <h5 class="widget-results__team-name">Ocean Kings</h5>
                                      <span class="widget-results__team-info">Bay College</span>
                                  </div>
                              </div>
                              <div class="widget-results__result">
                                  <div class="widget-results__score">
                                      <span class="widget-results__score-winner">110</span> - <span class="widget-results__score-loser">104</span>
                                      <div class="widget-results__status">Home</div>
                                  </div>
                              </div>
                              <div class="widget-results__team widget-results__team--second">
                                  <figure class="widget-results__team-logo">
                                      <img src="assets/images/samples/logos/alchemists_b_shield.png" alt="">
                                  </figure>
                                  <div class="widget-results__team-details">
                                      <h5 class="widget-results__team-name">Alchemists</h5>
                                      <span class="widget-results__team-info">Eric Bros School</span>
                                  </div>
                              </div>
                          </div>
                      </li>
                      <!-- Game #3 / End -->

                  </ul>
              </div>
          </aside>
          <!-- Widget: Latest Results / End -->
      </div>
      <!-- Sidebar / End -->
  </div>
</div>
<!-- Content / End -->
